@font-face {
	font-family: "MathJax_Math-italic";
	src:url("fuentes/MathJax_Math-Italic.eot?iefix") format("eot"), 
		url("fuentes/MathJax_Math-Italic.woff") format("woff"), 
		url("fuentes/MathJax_Math-Italic.otf") format("opentype"), 
		url("fuentes/MathJax_Math-Italic.svg#MathJax_Math-Italic") format("svg");
}

@font-face {
	font-family: "Modern_Eroded";
	src:url("fuentes/Modern_Serif_Eroded.eot?iefix") format("eot"), 
		url("fuentes/Modern_Serif_Eroded.woff") format("woff"), 
		url("fuentes/Modern_Serif_Eroded.otf") format("opentype"), 
}

*{
	overflow: hidden;
}

*:focus{
	border: none;
}

html {
	overflow-y: auto;	
}

header{
	background-color: rgba(65, 61, 82, 0.13);
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
}

header.height-50{
	background-color: rgba(18, 55, 82, 0.50);
}

header h1{
	bottom: 0;
  	position: absolute;
  	width: 100%;
    font-size: 20px !important;
}

#background {
	background-image: url("imagenes/background.jpg");
	background-size: cover;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-filter: blur(0.8px);
	-moz-filter: blur(0.8px);
	-o-filter: blur(0.8px);
	-ms-filter: blur(0.8px);
	filter: blur(0.8px);
}

#background.blur{
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}

footer {
	background-color: rgba(65, 61, 82, 0.13);
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
}

footer.height-50 {
	background-color: rgba(18, 55, 82, 0.50);
    
}

h1 {  
	text-align: center;
	font-size: 30px !important;
	position: relative;
	right: 30px;
	font-family: "MathJax_Math-italic" !important;
	margin-top: 10px !important;
	color: white !important;
	
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
}

#sec_principal{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom	: 0;
	left: 0;
}

.ventana_principal{
    height: auto;
    width: 800px;
    margin-top: -260px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    position: relative;
    overflow: visible;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
}

.opacity0{
	opacity: 0 !important;
}

.ventana_principal h2{
	position: absolute;
}

.cont_input{
	width: 800px;
    height: 200px;
	float: left;	
	overflow: hidden;
	border-radius: 20px;
	position: relative;
	background-color: rgba(11, 27, 8, 0.81);
	box-shadow: 0px 0px 15px 15px #091808;
    margin-bottom: 15px;
}

.cont_input p, .cont_input label{
    color: #fff;
}

.cont_input p, .cont_input label select{
    color: #333;
    font-size: 15px;
    border: none;
}

.cont_calculo {
    width: 800px;
    height: 50px;
    overflow: visible;
    position: relative;
    float: left;
    box-shadow: 0px 0px 15px 15px #091808;
    border-radius: 20px;
    background: rgba(255,255,255,0.8);
    margin-bottom: 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont_grafico {
    width: 800px;
    height: 250px;
    overflow: visible;
    position: relative;
    float: left;
    box-shadow: 0px 0px 15px 15px #091808;
    border-radius: 20px;
    background: rgba(255,255,255,0.8);
}

.campo_entrada h1{
	position: absolute;
	width: 100%;
	text-align: center;
}

.campo_grafico{
	width: 800px;
    height: 100%;
    position: relative;
}

h2 {
	text-align: center;
	font-size: 20px;
	margin-top: 15px;
}

.textbox {
	height: 30px;
	width: 100%;
	border: 1px solid #B9BDC1;
	color: #040A0F;
	
	-moz-box-shadow: 	0 2px 4px #bbb inset;
	-webkit-box-shadow: 0 2px 4px #BBB inset;
	box-shadow: 		0 2px 4px #BBB inset;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.textbox:focus {
	background-color: #E7E8E7;
	outline: 0;
}

.inputs{
	padding: 5px 15px;
	font-family: "MathJax_Math-italic";
	font-size: 18px;
	color: #040A0F;
	position: relative;
	height: 100%;
    overflow: visible;
}

.inputs input {
	color: #132C3E;
}

.inputs .etiqueta {
	position:absolute;	
	margin: 2px;
}

.etiqueta.cierre {
	top: 0;
	right: 0;
}

#function{
	padding-left: 70px;
}
.par-ordenado{
	width:50%;
	float: left;
	position: relative;
}

.par-ordenado input{
	padding-left: 35px;
}

.botones{
	overflow: visible;
}

.botones input, .botones label {
    width: 170px;
	margin:0;
    margin-top: 15px;
	opacity: 1;
	transition:All 2s ease;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
	text-align: center;
}

.hidden{
	margin-top:100%;
	opacity: 0;
}

input[type="checkbox"]{
	float: left;
	width: auto;
	margin-right: 5px !important;
}

#cantRectangulos {
  padding-left: 100px;
}

.input-cuadros .etiqueta {
  font-size: 13px;
  padding-top: 5px;
}

.boton, #grafico_navigationbar{
	-moz-box-shadow: 0px 10px 14px -7px #040a0f;
	-webkit-box-shadow: 0px 10px 14px -7px #040a0f;
	box-shadow: 0px 10px 14px -7px #040a0f;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #132c3e), color-stop(1, #16364d));
	background:-moz-linear-gradient(top, #132c3e 5%, #16364d 100%);
	background:-webkit-linear-gradient(top, #132c3e 5%, #16364d 100%);
	background:-o-linear-gradient(top, #132c3e 5%, #16364d 100%);
	background:-ms-linear-gradient(top, #132c3e 5%, #16364d 100%);
	background:linear-gradient(to bottom, #132c3e 5%, #16364d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#132c3e', endColorstr='#16364d',GradientType=0);
	background-color:#132c3e;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:15px;
	border:1px solid #040a0f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff !important;
	font-family:Arial;
	font-size:15px;
	padding:5px 15px;
	text-decoration:none;
}

.boton:hover, #grafico_navigationbar:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #16364d), color-stop(1, #132c3e));
	background:-moz-linear-gradient(top, #16364d 5%, #132c3e 100%);
	background:-webkit-linear-gradient(top, #16364d 5%, #132c3e 100%);
	background:-o-linear-gradient(top, #16364d 5%, #132c3e 100%);
	background:-ms-linear-gradient(top, #16364d 5%, #132c3e 100%);
	background:linear-gradient(to bottom, #16364d 5%, #132c3e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16364d', endColorstr='#132c3e',GradientType=0);
	background-color:#16364d;
}

.boton:active{
	position:relative;
	top:1px;
}


#grafico_navigationbar{
	bottom: 18px !important;
	height: 35px;
	right: 18px !important;
}

#grafico_navigationbar span{
  color: white;
  position: relative;
  top: 3px;
}

#areaL{
	position: absolute;
	z-index: 9999;
	top: 15px;
	left: 15px;
}

#areaR{
	position: absolute;
	z-index: 9999;
	top: 15px;
	right: 15px;
}

.boton-graficar{
	overflow: visible;
	position: absolute;
	bottom: 15px;
	width: 80%;
	left: 10%;
}

#boton-graficar{
    margin-bottom: 10px !important;
}

.inputs p{		
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 13px;
}

#grafico_licenseText{
	display: none !important;	
}

.height-50{
	height: 50%;	
}

.height-50 h1{
	-moz-text-shadow: 0 0 10px #000000, 0 0 15px #000000;
	-webkit-text-shadow: 0 0 10px #000000, 0 0 15px #000000;
	text-shadow: 0 0 10px #000000, 0 0 15px #000000;
	overflow: visible;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
}

.col_tamanio{
    border-right: 2px solid #fff;
    -webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
    opacity: 1;
}

.col_tamanio.oculto{
    width: 16px;
    padding: 0;
    opacity: 0.5;
    height: 185px;
}

.col_tamanio button.ocultar{
    position: absolute;
    right: 15px;
    padding: 0;
    height: 25px;
    line-height: 27px;
    border: none;
}

button.ocultar:before {
    content: "<";
}

.col_tamanio.oculto button.ocultar{
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999;
    width: 15px;
    height: 100%;
}

.col_tamanio.oculto button.ocultar:before {
    content: ">";
}

.col_matriz {
    height: 195px;
    padding-top: 25px;
}

.col_matriz > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.col_matriz label {
    position: absolute;
    top: 0;
}
/****** Tablas de selección ********/

.cont_matriz{
    color: rgb(51, 51, 51);
    margin: 0 auto;
    cursor: pointer;
    height: auto;
    position: relative;
    text-align: center;
    width: auto;
    z-index: 100;
    perspective-origin: 111.5px 119.5px;
    transform-origin: 111.5px 119.5px;
    background: rgb(248, 248, 248) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(156, 154, 154);
    border-radius: 6px 6px 6px 6px;
    border-spacing: 4px 4px;
    font: normal normal normal normal 6px / 0px Ubuntu, sans-serif;
    /* margin: 10px 0px 0px; */
    outline: rgb(51, 51, 51) none 0px;
}/*.cont_matriz*/

.DIV_6 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: auto;
    text-align: center;
    width: auto;
    perspective-origin: 105.5px 105.5px;
    transform-origin: 105.5px 105.5px;
    border: 0px none rgb(51, 51, 51);
    border-spacing: 4px 4px;
    font: normal normal normal normal 11px / 0px Ubuntu, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 3px;
}/*.DIV_6*/

.TABLE {
    border-collapse: collapse;
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: auto;
    max-width: 100%;
    text-align: center;
    width: auto;
    perspective-origin: 105.5px 105.5px;
    transform-origin: 105.5px 105.5px;
    border-spacing: 0px 0px;
    font: normal normal normal normal 11px / 0px Ubuntu, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    display: block
}/*.TABLE*/

.TBODY {
    border-collapse: collapse;
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: auto;
    text-align: center;
    width: auto;
    perspective-origin: 105px 105px;
    transform-origin: 105px 105px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal normal 11px / 0px Ubuntu, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    display: block;
}

.TBODY td{
    border-collapse: collapse;
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    perspective-origin: 10.5px 10.5px;
    transform-origin: 10.5px 10.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(212, 212, 212);
    font: normal normal normal normal 11px / 0px Ubuntu, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    position: relative;
    
    -webkit-transition:All 0.2s ease;
	-moz-transition:All 0.2s ease;
	-o-transition:All 0.2s ease;
	
	float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 30px;
    width: 30px;
    
    font-size: 13px !important;
    font-weight: bold !important;
}

.TBODY td span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TBODY input.vacia {
    border-color: rgba(245, 0, 0, 0.53);
}

.TBODY td input {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 1px;
    text-align: center;
}

#cont_selector_tamanio .TBODY td.on{
    background-color: darkgray;
}

#cont_selector_tamanio td.on.blocked.on2 {
    background-color: #773F3F;
}
#cont_selector_tamanio td.blocked.on2 {
    background-color: #B18282;
}

#cont_selector_tamanio td{
    color: transparent;
}

#cont_selector_tamanio td:hover,
#cont_selector_tamanio td.clicked{
    color: #000;
}

.selected td.on.blocked{
    display: table-cell;
}

.selected tr{
    display: none;
}

.selected tr.on{
    display: table-row;
}

.owl-carousel .owl-stage-outer {
    height: 100%;
    padding-bottom: 40px;
}

.owl-carousel .owl-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.owl-carousel .owl-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.owl-carousel .owl-prev {
    float: left;
    background: #101D11 !important;
}

.owl-carousel .owl-next {
    float: right;
    background: #101D11 !important;
}

.owl-carousel .owl-dot.active span {
    background: #101D11 !important;
}

.owl-carousel .owl-dot span {
    border: 2px solid #0F1C10 !important;
    height: 15px !important;
    width: 15px !important;
}

.owl-carousel .owl-controls {
    overflow: visible;
}

.owl-carousel .owl-controls .owl-nav > div {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    height: 30px;
    width: 30px;
}

.owl-carousel .owl-stage {
    height: 100%;
}

.owl-carousel .owl-item {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-height: 100% !important;
}

.owl-carousel .owl-item > span {
    font-size: 35px;
    font-weight: bold;
    color: #101D11;
}

.pasos {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 30px;
    font-size: 20px;
}

.pasos > div {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    background: #fff;
    visibility: hidden;
    border: 1px solid rgb(156, 154, 154);
    border-radius: 6px 6px 6px 6px;
    border-spacing: 4px 4px;
    overflow: hidden;
}